.loader-css {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}