.dialog-container {
    
    .dialog-title {
        /* .MuiBox-root.dialog-header-icon {
            background-color: orange;
            padding: 2px;

        } */
    }

    .dialog-content {
        
    }
}